@import url("styles.css");

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: 400;
	font-family:"Noto Sans KR",sans-serif;
	text-align: center;
}

header {
	margin: 0;
	padding: 0;
}

footer {
	margin: 0;
	padding: 0;
}

div, section, header, footer, ul, li, ol{
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h5, h6 {
	margin: 0;
	padding: 0;
}

p, a, span {
	margin: 0;
	padding: 0;
	line-height: 1;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

input {
	outline: none;
	border: none;
}

ul, li, ol {
	list-style: none;
	line-height: 1;
}

button {
	border: 0;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
}

img {
	border: none;
}

*:focus {
    outline: 0 !important;
}

.apm {
	min-width: 1170px;
	width: 100%;
	/*margin: 0 auto;*/
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.vertical-top { vertical-align: top; }
.vertical-middle { vertical-align: middle; }
.vertical-bottom { vertical-align: bottom; }

.divid-line {
	content: "";
	display: inline-block;
	width: 1px;
	height: 169px;
	margin: -5px 0 0 75px;
	background: #535353;
}

.line-arrow {
    overflow: hidden;
    display: inline-block;
    font-size: 12px;
    width: 7px;
	height: 7px;
}

.line-arrow.right {
  	border-top: 1px solid #000;
	border-right: 1px solid #000;
    transform: rotate(135deg) skew(0deg);
}

.reservation:after {
	content: "미송";
	font-size: 11px;
	background-color: #435b7d;
	padding: 0 8px;
	margin-left: 8px;
	color: #fff;
}

.set:after {
	content: "SET";
	font-size: 11px;
	background-color: #4d4d4d;
	padding: 0 8px;
	margin-left: 8px;
	color: #fff;
}

.new:after {
	content: "NEW";
	font-size: 11px;
	background-color: #ffc15a;
	padding: 0 8px;
	margin-left: 8px;
	color: #fff;
}

.close {
	position: absolute;
	width: 17px;
	height: 17px;
	cursor: pointer;
	display: inline-block;
	margin-left: 15px;
}

.close:hover { opacity: 1; }

.close:before, .close:after {
	position: absolute;
	top: 3px;
	content: "";
	height: 17px;
	width: 1px;
	background-color: #333;
}

.close:before { transform: rotate(45deg); }

.close:after { transform: rotate(-45deg); }

.page-active,
.active {
	font-weight: 700;
	text-decoration: underline;
	color: #000 !important;
}

.question-btn {
	border: 1px solid #292929;
	background-color: #fff;
	padding: 8px 10px;
	margin-top: 10px;
	display: inline-block;
}

.question-btn:hover {
	color: #fff;
	background-color: #292929; 
}

.borderRadius {
	border-radius: 0 !important;
}

.dd .ddArrow {
	background:url(../images/dd_arrow.png) no-repeat !important;
}

.dd .divider {
	display: none !important;
}

.dd .ddChild li.selected {
	background-color: #fff !important;
}

.selected>span.ddlabel {
	text-decoration: underline;
	color: #000 !important;
	font-size: 12px;
	font-weight: 600;
}

span.ddlabel { font-size: 11px; }

.ddcommon .shadow { box-shadow: none !important; }

.hide {
	display: none;
}

.bg-hide {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	left: 0;
	display: none;
}

.skin,
.grey, 
.skyblue {
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 20px;
	margin-right: 10px;
	text-indent: -150px;
	overflow: hidden;
}

.skin { background-color: #dcbb9c; }

.grey { background-color: #d0d0d0; }

.skyblue { background-color: #83c6d7; }

a.prev>span.s_out:after {
	content: "";
	position: relative;
    overflow: hidden;
    display: inline-block;
    font-size: 12px;
    width: 7px;
	height: 7px;
  	border-top: 1px solid rgba(41, 41, 41, 0.6);
	border-right: 1px solid rgba(41, 41, 41, 0.6);
    transform: rotate(225deg) skew(0deg);
    top: -3px;
    left: 5px;
}

a.next>span.s_out:after {
	content: "";
	position: relative;
    overflow: hidden;
    display: inline-block;
    font-size: 12px;
    width: 7px;
	height: 7px;
  	border-top: 1px solid rgba(41, 41, 41, 0.6);
	border-right: 1px solid rgba(41, 41, 41, 0.6);
    transform: rotate(46deg) skew(0deg);
    top: -3px;
    left: 5px;
}

/* 탑버튼 CSS */
div.scroll-wrap{ 
	position:fixed; 
	bottom:100px; 
	right:100px;
	z-index:11; 
	transition:.5s ease; 
	opacity: 0;
	visibility: hidden;
}

button.scroll-btn{ 
	width:60px; 
	height:60px; 
	padding:0; 
}

span.arrow-up {
	background:url(../images/top__btn__img.png) no-repeat !important;
	width: 60px;
	height: 60px;
	overflow: hidden;
	text-indent: -150px;
	display: inline-block;
}

/* 라이브챗 CSS */
div.live-chat-wrap{ 
	position:fixed; 
	bottom:100px; 
	right:170px;
	z-index:11; 
	transition:.5s ease; 
	opacity: 0;
	visibility: hidden;
}

button.live-chat-btn{ 
	width:60px; 
	height:60px; 
	padding:0; 
}

span.live-chat {
	background:url(../images/live__chat__img.png) no-repeat !important;
	width: 60px;
	height: 60px;
	overflow: hidden;
	text-indent: -150px;
	display: inline-block;
}

.on {
	color: #000 !important;
	font-weight: 700;
}

.badge {
	position: absolute;
	top: 13px;
}

.badge-primary {
	background-color: #f77776;
}

.badge-pill {
	width: 20px;
	height: 20px;
	padding-top: 5px;
	padding-left: .4em;
}